<?xml version="1.0" encoding="utf-8" ?> 
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" > 

    
    <settings>
        <setting useStatementNamespaces="false"/>
        <setting cacheModelsEnabled="true"/>        
    </settings>
 
    <database>           
        <provider name="sqlServer1.1"/>
        <dataSource name="IBatisNetTextDataSource"  connectionString="server=.;User ID=sa;Password=s;database=NrOA;Max Pool Size=10000;Min Pool Size=1000;Connect Timeout=3600"/>
    </database>

    <sqlMaps>
        <!--<sqlMap resource="AskAndAnswer/map/AskAndAnswerObjects.xml"/>
        <sqlMap resource="AskAndAnswer/map/textAskAnswerOrTaskSpeake.xml"/>
        <sqlMap resource="AskAndAnswerTypes/map/AskAndAnswerTypes.xml"/>-->   
        
        <sqlMap resource="Employee/map/Employee.xml"/>
        <sqlMap resource="Area/map/Area.xml"/>
        <sqlMap resource="Branch/map/Branch.xml"/>
        <sqlMap resource="CheckAccount/map/BackFundInfo.xml"/>
        <sqlMap resource="CheckAccount/map/ChargeInfo.xml"/>
        <sqlMap resource="Client/map/Client.xml"/>
        <sqlMap resource="Duty/map/Duty.xml"/>
        <sqlMap resource="Poundage/map/Poundage.xml"/>
        <sqlMap resource="ProductType/map/ProductType.xml"/>
        <sqlMap resource="TroubleDeal/map/TroubleDeal.xml"/>
        <sqlMap resource="NewAndFinish/map/NewAndFinish.xml"/>
        <sqlMap resource="LogManage/map/LogManange.xml"/>
        <sqlMap resource="LogManage/map/SendWork.xml"/>
        <sqlMap resource="CheckAccount/map/ChargeCollect.xml"/>
        <sqlMap resource="jxgl/map/dkxx.xml"/>
        <sqlMap resource="jxgl/map/jhjxx.xml"/>
        <sqlMap resource="jxgl/map/jxxx.xml"/>
        <sqlMap resource="Affiche/map/affiche.xml"/>
        
        <sqlMap resource="CheckAccount/map/t_huikuan.xml"/>
        <sqlMap resource="CheckAccount/map/t_yicixing.xml"/>
         <sqlMap resource="CheckAccount/map/t_year_bz.xml"/>
          <sqlMap resource="CheckAccount/map/pay_info.xml"/>
        
        
    
              
    </sqlMaps>

</sqlMapConfig>


